.surnameFont {
    font-size: 90%;
    text-align:center;
}
.nameFont {
    font-size: 90%;
    text-align: center;
}
.titleFont {
    font-size: 75%;
    text-align: center;
}
.spec{
    font-size: 90%;
}
.numberFont{

}