.sortElement {
    padding: 10px;
    margin: 10px;
    border: 2px solid rgba(205, 214, 219, 0.3);
    background-color: rgba(205, 214, 219, 0);
}

    .sortElement:hover {
        border-color: rgb(0, 38, 255);
        opacity: 1;
    }

.arrow{
    margin:10px;
    color:blue;
}


#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .table{
        font-size:2rem;
    }
    .sortElement {
        font-size: 2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}