/*.SwText{
    font-size:4rem !important;
}*/

/*.swal2-popup {
    font-size: 1.6rem !important;
}*/

.swal2-container {
    zoom: 1.5;
}

.table{
    width:auto !important;
}


@media (max-width : 480px) {
    .modal-content{
        width:450px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .modal-content {
        min-width: 500px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .modal-content {
        min-width: 700px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .modal-content {
        min-width: 800px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .modal-content {
        min-width: 900px;
    }
}